{% extends './base.html' %}

{% block content %}
	<div class="section">
		<div class="container">
			<div class="row">
				{% for product_image in product_images %}
					<div class="product-wrapper">
						<div class="product-item">
							<div class="product-photo">
								<a href="{{ url('products:product-view', args=[product_image.product.slug]) }}"><img src="{{ product_image.image.url }}"></a>
							</div>
							<div class="product-title">
								<h4><a href="{{ url('products:product-view', args=[product_image.product.slug]) }}">{{ product_image.product.title }}</a></h4>
							</div>
							<p>
								{{ product_image.product.description| truncate(70) }}
							</p>
							<div class="add-to-cart-btn">
								<button class="btn btn-success">
									Add to cart
								</button>
							</div>
							<div class="product-price">
								{{ product_image.product.price }} UAH
							</div>

						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}